In [19]:
# ! pip install jupyter_datatables
# ! pip install qgrid

# Import the necessary module or library where 'register' is defined
from some_module import register

# Call the 'register' function with the 'widget' argument
widget_instance = Widget()  # Replace 'Widget()' with your actual widget instance
register(widget_instance)

ModuleNotFoundError: No module named 'some_module'

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from jupyter_datatables import init_datatables_mode
import qgrid

TypeError: register() missing 1 required positional argument: 'widget'

In [5]:
# init_datatables_mode()

CommError: Comms haven't been initialized properly.. HINT: Try reloading <F5> the window.

In [6]:

df = pd.read_csv("../Final Project/Mujawar_Sameena_heart_failure_dataset.csv")

In [7]:
df

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,No,582,No,20,Yes,265000.00,1.9,130,Male,No,4,Yes
1,55.0,No,7861,No,38,No,263358.03,1.1,136,Male,No,6,Yes
2,65.0,No,146,No,20,No,162000.00,1.3,129,Male,Yes,7,Yes
3,50.0,Yes,111,No,20,No,210000.00,1.9,137,Male,No,7,Yes
4,65.0,Yes,160,Yes,20,No,327000.00,2.7,116,Female,No,8,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,No,61,Yes,38,Yes,155000.00,1.1,143,Male,Yes,270,No
295,55.0,No,1820,No,38,No,270000.00,1.2,139,Female,No,271,No
296,45.0,No,2060,Yes,60,No,742000.00,0.8,138,Female,No,278,No
297,45.0,No,2413,No,38,No,140000.00,1.4,140,Male,Yes,280,No
298,50.0,No,196,No,45,No,395000.00,1.6,136,Male,Yes,285,No

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.shape

In [ ]:
df.iloc[:5,:6]

In [ ]:
df.iloc[:5,6:13]

In [ ]:
df.nunique()

In [ ]:
df.isna().sum()